.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;

  height: fit-content;
  padding: 0.5rem;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  transition: border-color 0.3s;
  background: linear-gradient(to bottom, #582f50cc, var(--background));
}

.header_content {
  max-width: 90vw;
  margin: 0 auto;

  display: grid;
  grid-template:
    "a a a" auto
    "c c c" 2ch
    "b b b" 1em / 20% 20px 1fr;

  & .title {
    grid-area: a;
    display: flex;
    flex-direction: column;
    color: var(--item-color);
    font-size: 3rem;
    & h1 {
      align-self: center;
      font-size: 2.5rem;
    }
    & hr {
      width: 50%;
      align-self: center;
    }
    & p {
      align-self: center;
      font-size: 1.5rem;
    }
  }
}

.navigation {
  display: flex;
  gap: 32px;
}

@media (max-width: 600px) {
  /* .navigation {
    gap: 20px;
  }

  .navigation a {
    font-size: 13px;
  } */
}

@media (prefers-reduced-motion: reduce) {
  .header {
    transition: none;
  }
}
